* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
 }

ul, ol {
   padding: 0;
 }
li {
   list-style-type: none; 
}

a { 
  text-decoration: none; color: #000; 
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #102820;
}
.nav-header ul{
    display: flex;
}
.texto1{
    color: white;
    padding: 0px 5px;
}
.logo {
    width: 90px;
}
.product {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.product img {
    width: 500px;
}

.product article {
    width: 50%;
}

.interesar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.reseñas {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.reseñas article {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 40px;
}

.rev {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.category {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

main{
    display: flex;
    background-color: #F3EFE6;
}

.masvendidos{
    display: flex;
    flex-wrap: wrap;
}
.masvendidos article{
    width: 25%;
    padding: 10px 10px; 
}

.aleatorios {
    display: flex;
}

.fotos {
    width: 290px;
}

.relojinteres {
    width: 150px;
}

.men {
    display: flex;
    flex: wrap;
    flex-direction: column;
    text-align: center;
}

.MENS {
    font-size: 52px;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.explora {
    font-size: 20px;
    margin-bottom: 60px;
}

.category article{
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    margin: 10px;
}
.sitio-footer{
    background-color: #102820;
    color: white;
    display: flex;
    justify-content: space-between;
}
.sitio-footer a{
    color: white;
}
.integrantes{
    display: flex;
}
.integrantes li{
    padding: 0px 5px;
}
.category article h2 {
    font-size: 22px;
}