* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    background-color: #F3EFE6;
 }

ul, ol {
   padding: 0;
 }
li {
   list-style-type: none; 
}

a { 
  text-decoration: none; color: #000; 
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #102820;
    padding: 10px 35px;
}
.nav-header ul{
    display: flex;
}
.texto1{
    color: white;
    padding: 0px 5px;
}
.logo {
    width: 130px;
}
.product {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 50px 0px;
    background-color: #F3EFE6;
}

.product article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.product img {
    width: 600px;
    margin-right: 70px;
}

.product article {
    width: 50%;
}

.product h1 {
    font-size: 42px;
    color: #102820;
    margin-bottom: 15px;
}

.product p {
    font-size: 16px;
    line-height: 1.5;
}

.product ul {
    margin-bottom: 10px;
}

.product li {
    margin-bottom: 5px;
}

.product .ver {
    background-color: #18352D;
    color: white;
    padding: 10px 18px;
    margin-top: 15px;
    border-radius: 5px;
}


.marca {
    font-size: 17px;
    font-weight:normal;
    margin-bottom: 7px;
    color: #555555;
}

.stock {
    font-size: 17x;
    font-weight: normal;
    color: #555555;
    margin-bottom: 7px;
}

.precioo {
    font-size: 30px;
    margin-bottom: 10px;
    color: #102820;
    font-family: "Raleway", sans-serif;
}

.descripcion {
    margin-top: 10px;
    margin-bottom: 8px;
    color: #102820;
}

.diseño {
    color: #555555;;
}

.caracteristicas {
    margin-top: 10px;
}

.tags {
    margin-top: 10px;
}

.interesar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #F3EFE6;
}

.reseñas {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.reseñas article {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #D9D4C8;
    border-radius: 8px;
    margin-bottom: 20px;

}

.reviews {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 40px;
    background-color: #F3EFE6;
}

.reviews h2{
    color: #102820;
}

.rev {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 20px;
}

.rev article {
    width: 30%;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #D9D4C8;
    border-radius: 8px;
}

.rev h3 {
    color: #C6A15B;
}

.interesar h2 {
    text-align: center;
    color: #102820;
    margin-bottom: 20px;
}

.principal {
    border: 1px solid #D9D4C8;
    border-radius: 8px;
}

.category {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    
}

main{
    display: flex;
    background-color: #F3EFE6;
}
.categorias{
    width: 70%;
    padding: 10px;
}
.categoriasul{
    border: 1px solid #D9D4C8;
    border-radius: 8px;
}
.categoriasul li{
    padding: 5px 10px;
    margin-top: 5px;
}
.masvendidos{
    display: flex;
    flex-wrap: wrap;
}
.masvendidos article{
    width: 24%;
    padding: 10px 10px; 
    border: 1px solid #D9D4C8;
    border-radius: 8px;
    margin: 6px;
}

.busqueda {
    display: flex;
    flex-direction: column;
}

.aleatorios {
    display: flex;
}

.fotos {
    width: 270px;
}

.foto {
    width: 290px;
}

.relojinteres {
    width: 150px;
}

.men {
    display: flex;
    flex: wrap;
    flex-direction: column;
    text-align: center;
}

.MENS {
    font-size: 52px;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.explora {
    font-size: 20px;
    margin-bottom: 60px;
}

.category article {
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    margin: 10px;
    background-color: #FFFFFF;
    border: 1px solid #D9D4C8;
    border-radius: 8px;
}
.sitio-footer{
    background-color: #102820;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
}
.sitio-footer a{
    color: white;
    margin: 5px;
}
.integrantes {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.integrantes li{
    padding: 0px 5px;
}
.category article h2 {
    font-size: 22px;
    font-family: Georgia;
    color: #111111;
}

.sitio-footer div h2 {
    font-size: 32px;
    margin-bottom: 5px;
}

.sitio-footer div p {
    font-size: 14px;
    letter-spacing: 3px;
    margin-bottom: 25px;
}

.nav-footer {
    display: flex;
    margin-bottom: 25px;
    
}

.copyright {
    font-size: 14px;
    margin-bottom: 20px;
}


h1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
}

p{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 90px;
  font-style: normal;
}

a {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
}